{% extends 'base.html' %}


{% block content %}
  <div class="col-sm-12">
    <div class="row">
      <div class="space-32"></div>
      <div class="col-sm-6 col-sm-offset-1">
        <strong><span style="font-size: 60px">How to organize a workflow?</span> </strong>
        <i style=" position: relative; top: -30px; font-size: 20px;" class="ace-icon fa fa-asterisk red"></i>
        <br>
        <i style=" position: relative; top: -8px;" class="ace-icon fa fa-asterisk red"></i>
        <span style="font-size: 25px">
          One tool is enough. Using <strong>Jiller</strong> every
          member of your team could easily plan, track
          and estimate a work process.
        </span>
      </div>
      <div class="col-sm-4">
        <div id="login-box" style="top:25px" class="login-box visible widget-box no-border">
          <div class="widget-body">
            <div class="widget-main">
              <h4 class="header blue lighter bigger text-center">
                Register your company in one click
              </h4>
              <div class="space-6"></div>
              <form action="{% url 'home' %}" method='post'>
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group ">
                    {{ field }}
                    {% if field.errors %}
                      <ul>
                        {% for error in field.errors %}
                          <li class="red">
                            {{ error }}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                {% endfor %}
                <div class="space"></div>
                <div class="center group-btn">
                  <button type="submit" class="btn btn-primary">
                    <i class="ace-icon fa fa-lightbulb-o"></i>
                    <span class="bigger-110">PayPal</span>
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}