{% extends 'base.html' %}


{% block content %}
  <div class="col-sm-12">
    <div class="row">
      <div class="space-32"></div>
      <div class="col-sm-6 col-sm-offset-1">
        <strong><span style="font-size: 60px">How to organize a workflow?</span> </strong>
        <i style=" position: relative; top: -30px; font-size: 20px;" class="ace-icon fa fa-asterisk red"></i>
        <br>
        <i style=" position: relative; top: -8px;" class="ace-icon fa fa-asterisk red"></i>
        <span style="font-size: 25px">
          One tool is enough. Using <strong>Jiller</strong> every
          member of your team could easily plan, track
          and estimate a work process.
        </span>
      </div>
      <div class="col-sm-4">
        <div id="login-box" style="top:50px" class="login-box visible widget-box no-border">
          <div class="widget-body">
            <div class="widget-main">
              <h4 class="header blue lighter bigger text-center">
                Register your company in one click
              </h4>
              <div class="space-6"></div>
              <form action="{% url 'payment:process' %}" method='post'>
                {% csrf_token %}
                <div class="input-group">
                  {% for field in form %}
                    {{ field }}
                  {% endfor %}
                </div>
                <div class="space"></div>
                <div class="center group-btn">
                  <button type="submit" class="btn btn-primary">
                    <i class="ace-icon fa fa-lightbulb-o"></i>
                    <span class="bigger-110">PayPal</span>
                  </button>
{#                  <button type="submit" class="btn btn-primary">#}
{#                    <span class="bigger-110">Yandex</span>#}
{#                  </button>#}
                </div>
              </form>
              {% if form.errors %}
                  <p class="danger">{{ form.name.errors }}</p>
              {% endif %}
              <div class="space-18"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}