{% extends "base.html" %}

{% block title %}PayPal success{% endblock %}

{% block content %}
  <div class="col-sm-10 col-sm-offset-1">
    <div class="login-container">
      <div class="space-6"></div>

      <div class="position-relative">
        <div class="login-box visible widget-box no-border">
          <div class="widget-body">
            <div class="widget-main">
              <h4 class="header blue lighter bigger text-center">
                PayPal success
              </h4>

              <div class="center blue">
                <h5>Jiller fo your company will be available at link within a few minutes</h5>
                <h5>name, password</h5>

                <div class="space-6"></div>

                {{ data }}
              </div>

              <div class="space-6"></div>
            </div>

            <div class="toolbar clearfix">

            <div class="pull-right width-30">
              <a href="{% url 'home' %}" class="user-signup-link">
                <i class="ace-icon fa fa-arrow-left"></i>
                Home
              </a>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
